body {
    background: linear-gradient(to right bottom, #ece9e6, #ffffff);
    background-image: url(../img/image7.png);
    
}

h1 {
    display: flex;
    justify-content: center;
    height: 370px;
}

/*INDEX CARDS*/

.contentCard {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 50px;


    .col {
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
        cursor: default;
        transition: all 1s ease;


        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);

            .card-title {
                font-weight: 900;
            }
        }
    }
}

/*FOOTER*/

.piePagina {
    width: 100%;
    background-color: black;
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;


    .grupo1 {
        max-width: 1200px;
        margin: auto;  
    }
}

.imagen {
    width: 100px;
}

.box {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

    p {
        color: #E4E5F1;
    }
}

.grupo2 {
    background-color: #010911;
    padding: 15px 10px;
    text-align: center;
    color: white;

    small {
        font-size: 15px;
    }
}

/*SOCIAL BAR*/

.redSocial {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;

    ul {
        list-style: none;
    }
}

.redSocial ul li a {
    display: flex;
    color: white;
    padding: .7rem;
    text-decoration: none;
    transition: all .5s ease;
}

.redSocial ul li .bi-facebook {
    background: #3b5998;
    border-top-left-radius: 6px;
}

.redSocial ul li .bi-twitter {
    background: #00acee;
}


.redSocial ul li .bi-instagram {
    background: linear-gradient(to right bottom, #833ab4, #FD1D1D, #fcb045);
}

.redSocial ul li .bi-whatsapp {
    background: linear-gradient(to left bottom, #2BB741, #25D366);
}

.redSocial ul li .bi-envelope-exclamation-fill {
    background: orange;
    border-bottom-left-radius: 6px;
}

.redSocial ul li a:hover {
    padding: 10px 30px;
    border-radius: 6px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.42);
}

@media (max-width: 700px) {
    .redSocial {
        position: fixed;
        font-size: 1em;
    }

    .redSocial ul li a:hover {
        background-color: black;
        box-shadow: 0 0 10 rgba(0, 0, 0, 1);
    }
}

/*CONTACTO*/

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

.contentContact {
    font-weight: 1000;
    font-size: 3em;
    text-align: center;
    padding-bottom: 50px;
}

.contactWrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 25);
    background-color: white;
}

.contactForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .block {
        grid-column: 1/3;
    }
}

.contactForm form p {
    margin: 0;
    padding: 1em;
}

.contactForm form button,
.contactForm form input,
.contactForm form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #d63031;
}

.contactForm form button {
    background: #b70e21;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contactForm form button:hover,
.contactForm form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contactInfo {
    background: black;
    color: white;
}

.contactInfo h2 {
    font-size: 20px;
}

.contactInfo h2,
.contactInfo ul,
.contactInfo p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contactInfo ul {
    list-style: none;
    padding: 0;
}

.contactInfo ul li {
    padding: .3em;
}

@media (min-width: 700px) {
    .body {
        padding: 0.4rem;
    }

    .contactWrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contactInfo {
        padding: 3em;
    }

    .contactInfo h4,
    .contactInfo ul,
    .contactInfo p {
        text-align: left;
        padding: 1em;
    }
}

/*PRODUCTOS*/

.containProduct {
    padding: 3em;

    .containFood {
        background: #FAEAEF;
        border-bottom: 5px double black;
        border-top: 5px double black;
        border-left: 5px double black;
        border-right: 5px double black;
        border-radius: 6px;
    
            .positionProduct {
            display: flex;
            padding: 1em;
            justify-content: space-around;
            text-align: center;
        
                .allContent {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    padding: 2em;
                }
             }
        }   
    }
}

@media (max-width: 1000px) {
    .containProduct {
        padding: 1em;
    }

    .containFood {
        border-bottom: 2px double black;
        border-top: 2px double black;
        border-left: 2px double black;
        border-right: 2px double black;
        border-radius: 3px;
    }

    .positionProduct {
        display: flex;
        flex-direction: column;
    }
}

